@model TransactionDetailModel

<li id="@(Model.transaction.TransactionId)" bookTitle ="@(Model.BookTitle)"> 
  <div class="item-container">
    <div class="item-title">@Model.BookTitle</div>      
    <div class="item-isbn">@Model.ISBN</div>
    <div class="item-course">@Model.CourseName</div>
    <div class="item-price">@Model.Price</div>
  </div>
</li>





