@model BookSpade.Revamped.Models.CreatePostModel

@Styles.Render("~/Content/effects/tooltip/tooltip.css")
@Styles.Render("~/Content/Pages/CreatePost.css")

@{
    if (Model.IsNewBook)
    {
        ViewBag.SubmitFormStyle = "margin-bottom: 0;";
    }
    else
    {
        ViewBag.SubmitFormStyle = "";
    }
}

<div class="new-post">
  <div class="page-header">Match My Book</div>

  <div class="book-list span5">
    <div class="PostHeader">
      Find Your Book
    </div>
    <div class="SearchBook">
        <input id="BookSearch" type="text" placeholder="Search by Title, Course, or ISBN"/>
    </div>
    <div class="ChooseBook">
      <div id="BookListWrapper">
          <ul id="BookList" class="SearchResults wave">
            @Html.Partial("_BookListPartial", Model.Textbooks)
          </ul>
      </div>

      <!-- Button -->
      <div class="control-group">
        <div class="controls">
          <label class="control-label"></label>
          @{
              if (!Model.IsNewBook) {
                <button id="newBookButton" name="newBookButton" class="btn btn-info">Can't find your book? Click Here</button>
              }
          }
        </div>
      </div>
    </div>
  </div>

  <div class="submit-form" style="@ViewBag.SubmitFormStyle">
    @Html.Partial("_NewPostForm")
  </div>
</div>


@section Scripts {
    @Scripts.Render("~/Scripts/stroll.min.js")
    @Scripts.Render("~/Scripts/tooltip.js")
    @Scripts.Render("~/Static/CreatePost.js")
}
