@model IEnumerable<BookSpade.Revamped.Models.Textbook>

@Styles.Render("~/Content/Pages/CreatePost.css")

<div class="new-post">
  <div class="page-header">Match My Book</div>

  <div style="text-align: center;">
  <div class="book-list span5">
    <div class="PostHeader">
      <img src="@Url.Content("~/Content/Images/BookStack.png")" alt="BookStack"/>
      Find Your Book
    </div>
    <div class="SearchBook">
        <input id="BookSearch" type="text" placeholder="Search by Title, Course, or ISBN"/>
    </div>
    <div class="ChooseBook">
      <div id="BookListWrapper">
          <ul id="BookList" class="SearchResults wave">
            @Html.Partial("_BookListPartial", Model)
          </ul>
      </div>

      <!-- Button -->
      <div class="control-group">
        <div class="controls">
          <label class="control-label"></label>
          <button id="newBookButton" name="newBookButton" class="btn btn-info">Can't find your book? Click Here</button>
        </div>
      </div>
    </div>
  </div>

  <div class="submit-form">
    <form class="form-horizontal">
      <fieldset>
        <div class="common-fields span5">
          <!-- Select Basic -->
          <div class="control-group">
            <label class="control-label">I want to</label>
            <div class="controls">
              <select id="postType" name="postType" class="input-xlarge">
                <option>Buy this book</option>
                <option>Sell this book</option>
              </select>

            </div>
          </div>

          <!-- Select Basic -->
          <div class="control-group">
            <label class="control-label">Book Condition</label>
            <div class="controls">
              <select id="bookCondition" name="bookCondition" class="input-xlarge">
                <option>Excellent</option>
                <option>Good</option>
                <option>Decent</option>
                <option>Poor</option>
                <option>Salvageable</option>
              </select>

            </div>
          </div>

          <!-- Text input-->
          <div class="control-group">
            <label class="control-label">Price</label>
            <div class="controls">
              <input id="bookPrice" name="bookPrice" type="text" placeholder="100" class="input-xlarge" required="">
    
            </div>
          </div>

          <!-- Multiple Checkboxes -->
          <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" name="negotiatePrice" value="negotiate">
                I want to negotiate the price instead.
              </label>
            </div>
          </div>

          <!-- Button -->
          <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
              <button id="matchButton" name="matchButton" class="btn btn-large btn-success">Match Me!</button>
            </div>
          </div>
        </div>
  
      </fieldset>
    </form>
  </div>

  </div>
</div>


@section Scripts {
    @Scripts.Render("~/Scripts/stroll.min.js")
    @Scripts.Render("~/Static/CreatePost.js")
}

@*@model IEnumerable<BRApplication.Models.Textbook>*@

@*<div id="SubmitDialog" title="Contact Preference">
    <div id="ContactPref">
        <div class="PrefDetail">
            <ul>
                <li class="lblContactRef">Email</li>
                <li class="valContactRef">This will be kept private. BookSpade will send you an email with the contact of those interested.</li>
            </ul>
        </div>
        <div class="PrefDetail">
            <ul>
                <li class="lblContactRef">Facebook</li>
                <li class="valContactRef">A profile link will be displayed to everyone interested in responding to your post.</li>
            </ul>
        </div>
    </div>

    <div>
        @Html.RadioButton("Pref", false)Facebook
        @Html.RadioButton("Pref", true)Email
    </div>
    <div id="divContactEmail" style="display:none;">
        Please enter a valid email: 
        @Html.TextBox("txtContactEmail")
    </div>
</div>

<div id="ErrorDialog" title="Oops!"> Please select a book or add you own book</div>


<div class="PostContainer">
    <div class="NewPost">
        <div class="PostHeader">
            <img src="@Url.Content("~/Content/Images/BookStack.png")" alt="BookStack"/>&nbsp
            Add Your Posting
        </div>
        <div class="SearchBook">
            <input id="BookSearch" type="text" placeholder="Search by Title, Course, or ISBN"/>
        </div>
        <div class="ChooseBook">
            <div id="BookListWrapper">
                <ul id="BookList" class="SearchResults wave">
                    @Html.Partial("BookList_Partial", Model)
                </ul>
            </div>
            <a href="javscript:void(0)" class="link">Cannot find your book? Click Here</a>
        </div>
    </div>
    <form id="NewBookForm" autocomplete="off">
        <div class="hidden">
            @Html.Partial("AddBook_Partial");
        </div>
    </form>
</div>

<form id="CommonFields" autocomplete="off">
    <div class="AddPost">
        Make the price negotiable <input type="checkbox" id="cbNegotiationPrice"/>
        <input id="Price" class="InputGradient Info" type="text" placeholder="Price ($)" onkeydown="return FilterInputByDigits(event)" />
        <input id="SubmitButton" type="button" value="Add Post" />
    </div>
    <div class="PostType">
            <select id="PostType">
                <option value="Buy" selected>Buy</option>
                <option value="Sell">Sell</option>
            </select>
            <select id="Condition" class="InputGradient Info" >
                <option value="" disabled selected>Condition</option>
                <option value="Like New">Like New</option>
                <option value="Good">Good</option>
                <option value="Not Bad">Not Bad</option>
                <option value="Salvageable">Salvageable</option>
            </select>    
    </div>
</form>*@
