@model BookSpade.Revamped.Models.CreatePostModel

@{
    if (Model.IsNewBook)
    {
        ViewBag.NewBookFormStyle = "display: block;";
    }
    else
    {
      ViewBag.NewBookFormStyle = "";
    }
}

<div class="new-book span5" style="@ViewBag.NewBookFormStyle">
  <!-- Text input-->
  <div class="control-group">
    <label class="control-label">Book Title</label>
    <div class="controls">
      @Html.TextBoxFor(m => m.BookTitle, new { @class = "input-xlarge", @placeholder = "Financial Accounting with Connect & Lyryx 4th Cdn", @Value = ""})

    </div>
  </div>

  <!-- Text input-->
  <div class="control-group">
    <label class="control-label">Course</label>
    <div class="controls">
      @Html.TextBoxFor(m => m.CourseName, new { @class = "input-xlarge", @placeholder = "AFM 101", @Value = ""})
    
    </div>
  </div>

  <!-- Text input-->
  <div class="control-group">
    <label class="control-label">ISBN</label>
    <div class="controls">
      @Html.TextBoxFor(m => m.ISBN, new { @class = "input-xlarge", @placeholder = "9780070898714", @Value = ""})
    
    </div>
  </div>

  <div class="horizontal-line"></div>

  <!-- Text input-->
  <div class="control-group">
    <label class="control-label">Author (optional)</label>
    <div class="controls">
      @Html.TextBoxFor(m => m.Author, new { @class = "input-xlarge", @placeholder = "Robert Libby, Patricia Libby, Daniel Short, George Kanaan, Maureen Gowing", @Value = ""})
    
    </div>
  </div>

  <!-- Text input-->
  <div class="control-group">
    <label class="control-label">Book Image URL (optional)</label>
    <div class="controls">
      @Html.TextBoxFor(m => m.BookImageUrl, new { @class = "input-xlarge", @placeholder = "http://ecx.images-amazon.com/images/I/41zG8Om9YaL._SL500_AA300_.jpg", @Value = ""})
    
    </div>
  </div>

</div>