@model IEnumerable<BookSpade.Revamped.Models.Textbook>

@{
    foreach (var b in Model)
    {
        var bookImageURL = b.BookImageUrl ?? "http://www.life-moves-fast.com/wp-content/uploads/2012/06/books-clipart.jpg";
      
        <li onmouseover="tooltip.pop(this, '<span style=\'color:black;\'><div style=\'float:left;\'><img src=\'@bookImageURL\' width=\'100px\' /></div><div style=\'float:left;\'>ISBN: @b.ISBN<br />Book Title: @b.BookTitle<br />Author(s): @b.Author<br />Course: @b.CourseName<br />Store Price: &#36;@b.StorePrice</div></span>')">
          <div class="item">
            <span id="Course" class="Block">@b.CourseName</span>
            <span id="Title" class="Block Truncate One-line" data-value="@b.TextBookId" >@b.BookTitle</span>
          </div>
        </li>
    }
}