<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title BookSpade</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width,
                                       initial-scale=1.0,
                                       maximum-scale=1.0,
                                       user-scalable=no">
        
        @Styles.Render("~/Content/effects/stroll/stroll.min.css")
        @Styles.Render("~/Content/bootstrap/css/bootstrap.min.css")
        @Styles.Render("~/Content/bootstrap/css/bootstrap-responsive.min.css")
        @Styles.Render("~/Content/css")
        
        @* 
           To deal with Facebook appending "#_=_" to return URLs
           http://stackoverflow.com/questions/7131909/facebook-callback-appends-to-return-url
        *@
        <script type="text/javascript">
          if (window.location.hash && window.location.hash == '#_=_') {
            window.location.hash = ''; // for older browsers, leaves a # behind
            history.pushState('', document.title, window.location.pathname); // nice and clean
            e.preventDefault(); // no page reload
          }
        </script>
    </head>
    <body>
        <div id="bodyContainer">
          <div class="header-wrapper">
            <header>
                <div class="headerWrapper">
                    <div class="logoWrapper">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="@(Url.Content("~/Images/logo-booksInSpade_Blue.png"))" />
                        </a>
                    </div>
                </div>
            </header>
            <div id="loginHome">
                <section id="login">
                    <div>@Html.Partial("_LoginPartial")</div>
                </section>
            </div>
          </div>
          <div class="pipe"></div>
          <div class="body">
            @RenderBody()
          </div>
          <footer>
            <div id="footerContent">
              <!--Links and legal disclaimer goes here-->
              <div class="footer-link">BookSpade &copy; @DateTime.Now.Year</div>
              <div class="footer-link">@Html.ActionLink("Home", "Index", "Home")</div>
              <div class="footer-link">@Html.ActionLink("About", "About", "Home")</div>
              <div class="footer-link">@Html.ActionLink("Contact", "Contact", "Home")</div>
              <div class="footer-link"><a href="#" class="reportbug">Report a Bug</a></div>
            </div>
          </footer>
        </div>

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("Scripts", required: false)
    </body>
</html>
