<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title BookSpade</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
        @Styles.Render("~/Content/effects/stroll/stroll.min.css")
        @Styles.Render("~/Content/bootstrap/css/bootstrap.min.css")
        @Styles.Render("~/Content/bootstrap/css/bootstrap-responsive.min.css")
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <div class="container-fluid">
            <header class="row-fluid">
                <div class="headerWrapper">
                    <div class="logoWrapper">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="@(Url.Content("~/Images/logo-booksInSpade_Grey.png"))" />
                        </a>
                    </div>
                </div>
            </header>
            <div id="loginHome" class="row-fluid">
                <section id="login">
                    <div>@Html.Partial("_LoginPartial")</div>
                </section>
            </div>
            <div class="body row-fluid">
              @RenderBody()
            </div>
            <footer class="row-fluid">
                <!--Links and legal disclaimer goes here-->
                <ul>
                    <li class="span2">BookSpade &copy; @DateTime.Now.Year</li>

                    <li class="span2">@Html.ActionLink("Home", "Index", "Home")</li>
                
                    <li class="span2">@Html.ActionLink("About", "About", "Home")</li>

                    <li class="span2">@Html.ActionLink("Contact", "Contact", "Home")</li>

                    <li class="span2"><a href="#" class="reportbug">Report a Bug</a></li>
                </ul>
            </footer>
        </div>

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
        @Scripts.Render("~/Scripts/bootstrap/bootstrap.min.js")
        @RenderSection("scripts", required: false)

        <script type="text/javascript">
            $(function () {
                $(document).on('click', '.reportbug', function () {
                    var LoginStatus = $("#LoginStatus").text();
                    if (LoginStatus == "True") {
                        ReportBugDialog();
                    }
                    else {
                        LoginRequestDialog();
                    }
                });
            });

            function ReportBugDialog() {
                $("#reportBug").dialog({
                    height: 550,
                    width: 800,
                    modal: true,
                    buttons: [{
                        text: "Cancel",
                        "class": 'EmailCancel',
                        click: function () {
                            $(this).dialog("close");
                        }
                    }]
                });
            }

            function LoginRequestDialog() {
                $("#mdlLoginRequest").dialog({
                    height: 200,
                    width: 500,
                    modal: true
                });
            }

            $(document).on('click', '.btn-submit', function () {

                var bugmsg = $(this).siblings('.bugmsg').val();

                $.ajax({
                    url: '@Url.Action("ReportABug", "Home")',
                    data: {
                        BugMsg: bugmsg
                    },
                    type: 'POST',
                    success: function (result) {
                        if (result) {
                            SuccessDialog(this);
                        } else {
                            FailDialog(this);
                        }
                    }
                });
            });

                function SuccessDialog(dialog) {
                    $("#reportSuccess").dialog({
                        height: 300,
                        width: 500,
                        modal: true,
                        buttons: {
                            "OK": function () {
                                $(".ui-dialog-content").dialog("close");
                            }
                        }
                    });
                }

                function FailDialog() {
                    $("#reportFail").dialog({
                        height: 300,
                        width: 500,
                        modal: true,
                        buttons: {
                            "OK": function () {
                                $(".ui-dialog-content").dialog("close");
                            }
                        }
                    });
                }
            </script>
    </body>
</html>
