@model TransactionCommentModel

@{
    ViewBag.Title = "Transaction";
}

@Styles.Render("~/Content/Pages/TransactionDetail.css")


@Model.Details.FinalPrice

<h1 class="text-center">Your Transaction</h1>

<div class="container">
  <div class="text-center d-iblock details">
    <div class="transaction-info">
      <h4>Details</h4>
      <div>
        <div class="d-iblock lbl">
          Book Title
        </div>
        <div class="d-iblock val">
          @Model.Details.BookTitle
        </div>
      </div>
      <div>
        <div class="d-iblock lbl">
          Condition
        </div>
        <div class="d-iblock val">
          @Model.Details.Condition
        </div>
      </div>
      <div>
        <div class="d-iblock lbl">
          Course Name
        </div>
        <div class="d-iblock val">
          @Model.Details.CourseName
        </div>
      </div>
      <div>
        <div class="d-iblock lbl">
          ISBN
        </div>
        <div class="d-iblock val">
          @Model.Details.ISBN
        </div>
      </div>
      <div>
        <div class="d-iblock lbl">
          Store Price
        </div>
        <div class="d-iblock val">
          @Model.Details.StorePrice
        </div>
      </div>
      <div>
        <div class="d-iblock lbl">
          Price
        </div>
        <div class="d-iblock val">
          @Model.Details.Price
        </div>
      </div>
    </div>
    <div>&nbsp;</div>
    <div class="fprice-cancel">
      <h4>Your Price</h4>
      <div>
        <div class="d-iblock lbl">Final Price</div>
        <div class="d-iblock price-val">
          @{
            if (Model.Details.FinalPrice.HasValue || (int)Model.UserAction == 1) {
             @Html.TextBox("FinalPrice", Model.Details.FinalPrice, new {id = "txtFinalPrice", @class="input-small", disabled="disabled"}) 
            }
            else
            {
              @Html.TextBox("FinalPrice", "", new {id = "txtFinalPrice", @class="input-small"}) 
            }
          }
        </div>
      </div>
      <div>
        <div class="d-iblock lbl">&nbsp;</div>

        @{
          if (Model.Details.FinalPrice.HasValue || (int)Model.UserAction == 1){} 
          else {
            <div class="d-iblock prive-val">
                <button id="confirmPrice" type="button"  class="btn btn-primary" onclick="confirmFinalPrice()">Confirm</button> 
            </div> 
          }
        }
      </div>
      <h4>Withdraw</h4>
      @Html.Partial("_CancelTransaction", Model.Details.transaction)
    </div>   
  </div>  


  <div id="dvComments" class="d-iblock commentcontainer">
    <h4>Your thoughts on the deal</h4>
    @{
      if (Model.Comments.Count() > 0){
      <ul id="commentlst" class="comments">
    
        @foreach (Comment comment in Model.Comments)
        {
          @Html.Partial("_TransactionComment", comment); 
        }

      </ul>
      } else {
       <h4>There are no comments to display</h4> 
       <ul id="commentlst"  class="SearchResults wave height-auto"></ul>
      }
    }
    
    <div class="d-iblock">
      <div class="d-iblock">
        <textarea id="txtNewComment" class="message comment-new" name="NewComment" rows="4" cols="10" maxlength="225"></textarea>
      </div>
      <div class="d-iblock">
        <span class="countdown"></span>
      </div>
    </div>
    <div>
      <div class="d-iblock">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="d-iblock">
       <button id="submit" type="submit" class="blue-button comment-submit" onclick="newComment()">Submit</button> 
      </div>
    </div>
  </div>
</div>
@section Scripts {
   @Scripts.Render("~/Scripts/stroll.min.js")
  <script type="text/javascript">

    function newComment() {
      var Comment = $("#txtNewComment").val();

      $('#dvComments ul').append(
        $('<li class=\"buyer-comment\">').append(
              "<span class=\"commentor\">" + "@(Model.profile.Name)" + "</span><br />" + 
              "<span>" + Comment + "</span>"
        )
      );

      $('#commentlst').scrollTop(10000000);
      $("#txtNewComment").val("");
      updateCountdown();

      $.ajax({
        url: '@Url.Action("newComment", "Transaction")',
        data: {
          comment: Comment,
          userId: "@(Model.UserId)",
          OtherUserId: "@(Model.OtherPartyId)",
          transactionId: "@(Model.Details.transaction.TransactionId)"
        },
        type: 'POST',
        success: function (result) {
          
        }
      });
    }

    function updateCountdown() {
      var remainig = 225 - $('.message').val().length;
      $('.countdown').text(remainig); 

    }

    function confirmFinalPrice() {
      var finalprice = $("#txtFinalPrice").val();

      alert(finalprice);
      $.ajax({
        url: '@Url.Action("setFinalPrice", "Transaction")',
        data: {
          transactionId: "@(Model.Details.transaction.TransactionId)",
          finalprice: parseFloat(finalprice).toFixed(2)
        },
        type: 'POST',
        success: function (result) {
          $("#txtFinalPrice").attr("disabled", "disabled");
          $("#confirmPrice").hide();
        }
      });
    }

    $(function () {
      updateCountdown();
      $('.message').change(updateCountdown);
      $('.message').keyup(updateCountdown);

      $('#commentlst').scrollTop(10000000);

    });

   </script>
}


