@model IEnumerable<TransactionDetailModel>

@Styles.Render("~/Content/effects/qtip2/jquery.qtip.min.css")
@Styles.Render("~/Content/Pages/TransactionHistory.css")

<div id="historyWrapper">
  <div id="historyContainer">
    <div id="history-header">Transaction History</div>
  
    @if(Model.Count() == 0) {
      <div id="no-trans-container">
        <div>You do not have any pending transactions.</div>
        <div class="no-trans-btn-desc">Need help getting a book or selling one you're done with?</div>
        <div id="needToBuySell">
          <div class="no-trans-btn-buysell">
            <a href="@(Url.Action("Create", "Post", new { isBuy = true }))" title="Buy Textbooks">
                <div class="buttonBuySell blue-button">Buy</div>
            </a>
          </div>
          <div class="no-trans-btn-buysell">
            <a href="@(Url.Action("Create", "Post", new { isBuy = false }))" title="Sell Textbooks">
                <div class="buttonBuySell blue-button">Sell</div>
            </a>
          </div>
        </div>
      </div>
    } else {
      <div id="list-header" class="item-container">
        <div class="item-title">Book Title</div>      
        <div class="item-isbn">ISBN</div>
        <div class="item-course">Course</div>
        <div class="item-price">Initial Price</div>
      </div>
      <ul class="user-history SearchResults wave">
        @{
            foreach(TransactionDetailModel TransactionDetail in Model) {
                Html.RenderPartial("_TransactionHistoryItem", TransactionDetail);
            }
        }
      </ul>
    }
  </div>
</div>

@section Scripts {
  
  @Scripts.Render("~/bundles/transactionHistory")
  <script type="text/javascript">
     $(function() {
          $('.SearchResults li').on("click", function () {
              var transId = $(this).attr('id');
              window.location = '@(Url.Content("TransactionDetails"))' + '?transactionId=' + transId;
          }); 
     });
  </script>
}
