@model TransactionCommentModel

@{
    ViewBag.Title = "Transaction";
}

@Styles.Render("~/Content/font-awesome.min.css")
@Styles.Render("~/Content/Pages/TransactionDetail.css")

<div id="transactionDetailsContainer">
  <div id="transactionDetailsContent">
    <h1>Your Transaction</h1>
    <div id="contentSection">
      <div class="user-info">
        @if (Model.UserFacebookId != null)
        {
          <img src="http://graph.facebook.com/@Model.UserFacebookId/picture?width=500&height=500" class="img-rounded" />
        }
        else
        {
          <img src="~/Images/default-user.jpg" />
        }

        <div class="user-info-name">
          You
        </div>
      </div>
      <div id="transactionInfo">
        <div class="details-block">
          <div class="details-label">
            Title
          </div>
          <div class="details-value">
            @Model.Details.BookTitle
          </div>
        </div>

        <div class="details-block">
          <div class="details-label">
            Book Condition
          </div>
          <div class="details-value">
            @Model.Details.Condition
          </div>
        </div>

        <div class="details-block">
          <div class="details-label">
            Course Name
          </div>
          <div class="details-value">
            @Model.Details.CourseName
          </div>
        </div>

        <div class="details-block">
          <div class="details-label">
            ISBN
          </div>
          <div class="details-value">
            @Model.Details.ISBN
          </div>
        </div>

        <div class="details-block">
          <div class="details-label">
            BookStore Price
          </div>
          <div class="details-value">
            $@Model.Details.StorePrice
          </div>
        </div>

        <div class="details-block">
          <div class="details-label">
            Initial Offer
          </div>
          <div class="details-value">
            $@Model.Details.Price
          </div>
        </div>
      </div>
      <div class="user-info">
        @if (Model.CounterPartyFacebookId != null)
        {
          <img src="http://graph.facebook.com/@Model.CounterPartyFacebookId/picture?width=500&height=500" class="img-rounded" />
        }
        else
        {
          <img src="~/Images/default-user.jpg" />
        }

        <div class="user-info-name">
          @Model.CounterPartyDisplayName
        </div>
      </div>
    </div>
    <div id="interactionSection">
      <div id="actions">
        @Html.Partial("_TransactionActions", Model.Details.transaction)
      </div>

      <div id="comments">
        <div id="showComments">
          <div id="commentAngleLabel">Show Chat</div>
          <i id="commentAngle" class="fa fa-angle-down"></i>
        </div>
        <div id="commentArea">
          <div id="commentContainer" class="d-iblock">
            <ul id="commentList">
              @foreach (Comment comment in Model.Comments)
              {
                @Html.Partial("_TransactionComment", comment); 
              }
            </ul>

            <textarea id="sendComment" name="NewComment" rows="1" cols="10" maxlength="225"></textarea>
            <div id="commentAction">
              <button id="submitComment" type="submit" class="blue-button comment-submit" onclick="newComment()">Send Message</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts {
   @Scripts.Render("~/Scripts/stroll.min.js")

  <script type="text/javascript">

    var comments_shown = false;

    function toggleComments() {
      if (comments_shown) {
        $("#commentAngle").removeClass("fa-angle-up");
        $("#commentAngle").addClass("fa-angle-down");
        $("#commentAngleLabel").text("Show Chat");
        $("#commentArea").slideUp(function () {
          comments_shown = false;
        });
      } else {
        $("#commentAngle").removeClass("fa-angle-down");
        $("#commentAngle").addClass("fa-angle-up");
        $("#commentAngleLabel").text("Hide Chat");
        $("#commentArea").slideDown(function () {
          comments_shown = true;
        });
      }
    }

    function newComment() {
      var Comment = $("#sendComment").val();

      // syntax here should match that of _TransactionComment
      $("#commentContainer ul").append(
        "<li class=\"user-comment\">" +
          "<div class=\"user-bubble\">" +
            "<span>" + Comment + "</span>" +
          "</div>" +
        "</li>"
      );

      $('#commentList').scrollTop(10000000);
      $("#sendComment").val("");
      updateCountdown();

      $.ajax({
        url: '@Url.Action("newComment", "Transaction")',
        data: {
          comment: Comment,
          commentor: "@(Model.UserAction)",
          userId: "@(Model.UserId)",
          OtherUserId: "@(Model.CounterPartyId)",
          transactionId: "@(Model.Details.transaction.TransactionId)"
        },
        type: 'POST',
        success: function (result) {
          
        }
      });
    }

    // Unused
    function updateCountdown() {
      var remaining = 225 - $('#sendComment').val().length;
      $('#countdown').text(remaining);
    }

    function confirmTransactionModal() {
      $('#confirmationModal').modal({});
    }

    function cancelTransactionModal() {
      $('#cancellationModal').modal({});
    }

    function confirmTransaction() {
      var finalPrice = $("#confirmFinalPrice").val();
      $("#FinalPrice").val(finalPrice);
      $('#confirmationModal').modal('hide');
      $("#confirmTransactionForm").submit();
    }

    function cancelTransaction() {
      $('#cancellationModal').modal('hide');
      $("#cancelTransactionForm").submit();
    }

    // Unused
    function confirmFinalPrice() {
      var finalprice = $("#txtFinalPrice").val();

      alert(finalprice);
      $.ajax({
        url: '@Url.Action("setFinalPrice", "Transaction")',
        data: {
          transactionId: "@(Model.Details.transaction.TransactionId)",
          finalprice: parseFloat(finalprice).toFixed(2)
        },
        type: 'POST',
        success: function (result) {
          $("#txtFinalPrice").attr("disabled", "disabled");
          $("#confirmPrice").hide();
        }
      });
    }

    //updateCountdown();
    //$('#sendComment').change(updateCountdown);
    //$('#sendComment').keyup(updateCountdown);

    $(function () {
      $("#showComments").click(toggleComments);

      $("#confirmTransaction").click(confirmTransactionModal);
      $("#cancelTransaction").click(cancelTransactionModal);

      $("#proceedConfirmTransaction").click(confirmTransaction);
      $("#proceedCancelTransaction").click(cancelTransaction);

      $('#commentList').scrollTop(10000000);
    });

   </script>
}


