@model TransactionCommentModel

@{
    ViewBag.Title = "Transaction";
}

@Styles.Render("~/Content/font-awesome.min.css")
@Styles.Render("~/Content/Pages/TransactionDetail.css")

<div id="transactionDetailsContainer">
  <div id="transactionDetailsContent">
    <h1>Your Transaction</h1>
    <div id="contentSection">
      <div class="user-info">
        @if (Model.UserFacebookId != null)
        {
          <img src="http://graph.facebook.com/@Model.UserFacebookId/picture?width=500&height=500" class="img-rounded" />
        }
        else
        {
          <img src="~/Images/default-user.jpg" />
        }

        <div class="user-info-name">
          You
        </div>
      </div>
      <div id="transactionInfo">
        <div class="details-block">
          <div class="details-label">
            Title
          </div>
          <div class="details-value">
            @Model.Details.BookTitle
          </div>
        </div>

        <div class="details-block">
          <div class="details-label">
            Book Condition
          </div>
          <div class="details-value">
            @Model.Details.Condition
          </div>
        </div>

        <div class="details-block">
          <div class="details-label">
            Course Name
          </div>
          <div class="details-value">
            @Model.Details.CourseName
          </div>
        </div>

        <div class="details-block">
          <div class="details-label">
            ISBN
          </div>
          <div class="details-value">
            @Model.Details.ISBN
          </div>
        </div>

        <div class="details-block">
          <div class="details-label">
            BookStore Price
          </div>
          <div class="details-value">
            $@Model.Details.StorePrice
          </div>
        </div>

        <div class="details-block">
          <div class="details-label">
            Initial Offer
          </div>
          <div class="details-value">
            $@Model.Details.Price
          </div>
        </div>
      </div>
      <div class="user-info">
        @if (Model.CounterPartyFacebookId != null)
        {
          <img src="http://graph.facebook.com/@Model.CounterPartyFacebookId/picture?width=500&height=500" class="img-rounded" />
        }
        else
        {
          <img src="~/Images/default-user.jpg" />
        }

        <div class="user-info-name">
          @Model.CounterPartyDisplayName
        </div>
      </div>
    </div>
    <div id="interactionSection">
      <div id="actions">
        @Html.Partial("_TransactionActions", Model.Details.transaction)
      </div>

      <div id="comments">
        <div id="showComments">
          <div id="commentAngleLabel">Show Chat</div>
          <i id="commentAngle" class="fa fa-angle-down"></i>
        </div>
        <div id="commentArea">
          <div id="commentContainer" class="d-iblock">
            <ul id="commentList">
              @foreach (Comment comment in Model.Comments)
              {
                @Html.Partial("_TransactionComment", comment); 
              }
            </ul>
            
            @if (Model.Details.transaction.IsActive == 1 && Model.Details.transaction.IsDeleted == 0)
            {
              <textarea id="sendComment" name="NewComment" rows="1" cols="10" maxlength="225"></textarea>
              <div id="commentAction">
                <button id="submitComment" type="submit" class="blue-button comment-submit" onclick="newComment()">Send Message</button>
              </div>
            }
            else
            {
              <textarea id="sendComment" name="NewComment" rows="1" cols="10" maxlength="225" disabled></textarea>
            }

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  @Scripts.Render("~/bundles/transactionDetails")
}
