@Styles.Render("~/Content/Pages/Home.css")

<div id="foregroundCell">
    <div id="foregroundWrapper">
        <div id="foreRight">
            <img src="@(Url.Content("~/Images/bookspadeText.png"))" style="width: 100%"/>

            <br />
            <div id="description">
                <span class="slogan-top">Save time</span><br />with every book.
            </div>

            <div id="needToBuySell">
                <a href="@(Url.Action("Create", "Post", new { isBuy = true }))" title="Buy Textbooks">
                    <div class="buttonBuySell blue-button">Buy</div>
                </a>

                <a href="@(Url.Action("Create", "Post", new { isBuy = false }))" title="Sell Textbooks">
                    <div class="buttonBuySell blue-button">Sell</div>
                </a>
            </div>
        </div>
        <div id="foreLeft">
            <img src="@(Url.Content("~/Images/homeImage_bookStand.png"))" />
        </div>
    </div>
</div>

@*<div class="home">
    <a class="header" href="@(Url.Action("GetMarketPostsByisBuy", "Market", new { isBuy = false }))" title="Buy Textbooks">Buy</a>
    <a class="header" href="@(Url.Action("GetMarketPostsByisBuy", "Market", new { isBuy = true }))" title="Sell Textbooks">Sell</a>
</div>*@

