@Styles.Render("~/Content/Pages/Home.css")

<!-- NEW STUFF STARTS HERE -->

<body>
<!--Everything goes inside here-->
	<!--Background goes here-->
   
    <div id="loginHome">
        <section id="login">
                <div>@Html.Partial("_LoginPartial")</div>
        </section>
    </div>

    <div id ="foregroundTable">
	    <div id ="foregroundCell">
            <div id ="foregroundWrapper">
                <div id="foreLeft">
                        <img src="@(Url.Content("~/Images/bookspadeText.png"))" style="width: 100%"/>
      
                        <br />
                        <div id="description">
                            Buy and sell the books you want at the price they should be.
                        </div>
                
                        <div id="needToBuySell">
                            <a href="@(Url.Action("Index", "Market", new { isBuy = false }))" title="Buy Textbooks"><div class="buttonBuySell">Buy</div></a>
                            
                            <a href="@(Url.Action("Index", "Market", new { isBuy = true }))" title="Sell Textbooks"><div class="buttonBuySell">Sell</div></a>
                        </div>
		        </div>

		        <div id="foreRight">
                    <img src="@(Url.Content("~/Images/homeImage_bookStand.png"))" />
		        </div>
            </div>
	    </div>	
    </div>
<!-- NEW STUFF ENDS HERE -->
</body>

@*<div class="home">
    <a class="header" href="@(Url.Action("GetMarketPostsByisBuy", "Market", new { isBuy = false }))" title="Buy Textbooks">Buy</a>
    <a class="header" href="@(Url.Action("GetMarketPostsByisBuy", "Market", new { isBuy = true }))" title="Sell Textbooks">Sell</a>
</div>*@

